.teacherOverviewSection{
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.reservationCard {
    display: inline-block;
    width:20% !important;
    margin: 20px;
}

.splitLine{
    text-align: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.buttonGroup{
    display: inline-block;
    width: 5%;
    position: relative;
    top: -10px;
    left: -100px;
}
.acceptButton{
    text-align: center;
    display: inline-block;
    width: 50%;
    position: relative;
    top: 0px;
    left: 0px;
}
.refuseButton{
    display: inline-block;
    width: 5%;
    position: relative;
    top: 0px;
    left: 110px;

}

.bg{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 84px;
}
.detailButton{
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
}